<!DOCTYPE html>
<html lang="en">
<head>
    <title>About the weather </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./images/weather.png">
    <title>Document</title>
</head>
<body>
    <div class="main-content">
        {{>header}}     
        
        <div>
            <img class="city" src="./images/myself.jpg" alt="myself">
            <p class="myself">My self Siddhant I am a professional web devleoper from past 1 year and trying so hard to get up above all.
                Contact me if you wish to make a web site for youself or for your business.
            </p>
        </div>
        

        <div class="credits">
            <p>Credits:- {{name}}</p>
        </div>
    </div>
    
    {{>footer}}
</body>
</html>